APP_NAME=TuCiudadLimpia
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=8080

DB_DATABASE=tu_ciudad_limpia
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_HOST_PORT=5433

PGADMIN_DEFAULT_EMAIL=admin@tuciudadlimpia.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5051

VITE_API_URL=http://localhost:8081/api
